$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

* {
  font-family: $fuente;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
